#
# Condor Security Config
#

SEC_PASSWORD_FILE = /etc/condor/POOL

# Strong security

SEC_DEFAULT_INTEGRITY = REQUIRED
SEC_READ_INTEGRITY = OPTIONAL
SEC_CLIENT_INTEGRITY = OPTIONAL

SEC_DEFAULT_AUTHENTICATION = REQUIRED
SEC_DEFAULT_AUTHENTICATION_METHODS = FS,PASSWORD
SEC_READ_AUTHENTICATION = OPTIONAL
SEC_CLIENT_AUTHENTICATION = OPTIONAL

# With strong security, do not use IP based controls
ALLOW_WRITE = *

# Be a little paranoid about the Negotiator
# Note: We may not know where the negotiator is running, so cannot use IP based controls
#ALLOW_NEGOTIATOR = condor_pool@$(FULL_HOSTNAME)/*
ALLOW_NEGOTIATOR = *

# But must explicity deny unauthenticated access 
DENY_WRITE = anonymous@*
DENY_ADMINISTRATOR = anonymous@*
DENY_DAEMON = anonymous@*
DENY_NEGOTIATOR = anonymous@*
DENY_CLIENT = anonymous@*
DENY_OWNER = anonymous@*

